.markdown pre {
  color: #40ff00;
}

.markdown h1 {
  color: #30c000;

}
.markdown h2 {
  color: #38e200;

}
.markdown h3 {
  color: #72ff44;
}

.markdown h2 {
  margin: 1.5em 0 1em;
}

.markdown h3 {
  margin: 1em 0 1em;
}


.markdown blockquote{
  background-color: #0000005e;
  border-left: 4px solid;
  padding: 0.5em 1em 0.5em 2em;
  margin: 0;
  font-size: 0.85em;
  border-radius: 0 1em 1em 0;
}
