.markdown {
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
}

.markdown h2 {
  margin: 2em 0 1em;
}

.markdown h3 {
  margin: 2em 0 1em;
}


.markdown blockquote{
  background-color: #0000005e;
  border-left: 4px solid;
  padding: 0.5em 1em 0.5em 2em;
  margin: 0;
  font-size: 0.85em;
  border-radius: 0 1em 1em 0;
}
