.stories {
    max-width: 60ch;

    a {
        padding: 1em;
        border-radius: 1em;
        margin: 2em 0;
        display: block;
        border: 3px solid #49c034;
        text-decoration: none;
    }

    h3 {
        margin: 0;
        text-decoration: underline;
    }

    h4 {
        color: #399928;
        margin: 0;
    }

    p {
        font-size: 1rem;
        margin-top: 16px;
    }

    img {
        max-width: min(100%, 400px);
    }
}