.stories {
    max-width: 65ch;
    transition: 0.2s all ease;

    a {
        padding: 1em;
        border-radius: 1em;
        margin: 2em 0;
        display: block;
        border: 3px solid #2af207;
        text-decoration: none;
        transition: 0.2s all ease;
        &:hover{
            background-color: #22222255;
            color: #26ff00;
            border: 3px solid #26ff00;
            h3 {
                text-decoration: underline;
            }
        }
    }

    h3 {
        margin: 0;
    }

    h4 {
        color: #399928;
        margin: 0;
    }

    p {
        font-size: 1rem;
        margin-top: 16px;
    }

    img {
        max-width: min(100%, 400px);
    }

}