html {
    background-color: #010f14;
    margin: 0;
    font-family: "Menlo", "Courier New", "Consolas", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #66ff33;
}

img {
    max-width: 100%;
}

a{
    text-decoration: underline;
    color: #66ff33;
    font-weight: bold;
}

strong{
    font-weight: bolder;
    text-transform: uppercase;
    color: #82ff72;
}

.container {
    max-width: 1050px;
    padding: 0 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px !important;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 1.6em;
        color: #169fff;
    }

    .links>* {
        margin: 0 5px;
        padding: 0 5px;
        font-weight: 500;
        font-size: 1.2em;

    }

    .contacts a {
        margin: 0 5px;
        padding: 0 5px;
        font-size: 1.4em;
    }

}

.intro {
    margin: 5em 0 5em;

    h2 {
        font-size: 4em;
        margin: 0;
    }

    p {
        margin: 0 0 0.5em;
        font-weight: 500;
    }
}

.cool-gradient {
    --start-color: #35f928;
    --end-color: #00b901;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, var(--start-color), var(--end-color));
    text-transform: uppercase;
}

// Move this

.article{
    font-size: 20px;
    letter-spacing: -0.003em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    margin: 0 auto;
    max-width: 70ch;
    p {
        margin: 1.5em 0;
        line-height: 1.5em;
    }
    
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    .post-header{
        padding: 5em 0 2em;
        h1{
            font-size: 2.5em;
            color: #40ff00;
        }
        h2{
            font-size: 1.5em;
            color: #45b021;
        }
        .post-date{
            color: #66ff33;
            display: none;
        }
    }
    
    .post-body{
        line-height: 1.75;
    }

    ul li {
        margin: 0 0 0.75em;
    }
    code{
        overflow: auto;
        display: block;
    }
    hr{
        border-color: #3bff24;
    }
}